{% extends 'ProjectBundle::layout.html.twig' %}

{% block content %}
<div class="row-fluid">
    <div class="span4"></div>
    <div class="span8">Welcome to the Demo-Project!</div>
</div>
{% endblock %}
